#record{
    height: 1100px;
}
/*우측 업데이트순, 저자순, 제목순*/
.right_menu2{
    height: 77px;
}
.right_menu2>li{
    float: left;
}
.right_menu2>li:first-child{
    padding-right: 900px;
}
.bar{
    padding: 0 18px;
}

/*----------------table--------------*/
table{
    margin: 0 auto;
    border: collapse;
    text-align: center;
    align-content: center;
}
.table_wrap{
    width: 100%;

}
tr{
    background: #EBEBEB;
    color: #000;
    height: 83px;

}
th{
	background:#3B3759;
	color:#fff;
    font-size: 22px;
    width: 400px;
}
td{
	background:#EBEBEB;
	border-bottom:1px solid #fff;
}

/*------------추가,수정,삭제 버튼-----------*/

.record_btn{
    margin-top:30px;
    text-align: right;
}
button{
    padding: 12px 20px;
    font-size: 20px;
    background: #fff;
    border:1px solid #3B3759;
    border-radius: 8px;
    color: #000;
}
#add,#upd{
    margin-right: 12px;
}

input[type=text], content {width:99%;height:50px;}
input[type=content], textarea{width:99%; height:200px;}
