/*---------------책상세정보----------------*/
#contents{
    height: 1130px;
}
/*------------도서 목록 table---------------*/

table{   
    margin: 0 auto;
    border: collapse;
    align-content: center;
}
.sub_line{
    width: 1457px;
    border-bottom: 1px solid #000;
}

/*---------------프로필---------------*/

.alarm_pro{
    height: 250px;
}
.pro_img{
    width: 260px;
}
.pro_img>img{
    width: 211px;
    height: 211px;
}
.pro_txt,.pro_alarm{ /*id,hp,mail,독서알림상태*/
   width:370px;   
}
.pro_id,.pro_hp,.pro_mail{
    height: 40px;
}
.pro_alarm_cont>td{
    height: 40px;
}
.pro_btn{
    padding-left:120px;
}
#pro_btn{
    border: none;
    padding: 18px 16px;
    border-radius: 8px;
    border:1px solid #3B3759;
    color: #000;
    font-size:22px;
    background: #fff;    
}

#alarm_info{
	width:470px;
}
/*-------------알람픽커----------*/
.alarm_pick{
    height: 246px;
}
.a_date,.a_time{
    display: inline-block;
    width: 600px;
    padding: 40px 0;
  
}
.a_date{
	margin-left:13px;
}
.a_time{
	margin-left: 70px;
}
input{
	width: 200px;
	font-size: 22px;
    margin-right: 10px;
    border-radius: 8px;
    padding: 10px 13px;
}


.picker{
    height: 130px;
}

h4{
    font-size:24px;
    width:120px;
}


h5{
    font-size: 22px;
    margin-right: 15px;
}
.d_start,.t_start{
    height: 80px;
}
/*------저장취소 버튼-------*/
.alarm_btn{
    margin-top:65px;
    text-align: center;
}
button{
    padding: 12px 20px;
    font-size: 22px;
    background: #fff;
    border:1px solid #3B3759;
    border-radius: 8px;
    color: #000;
}
#cancel_btn{
    margin-left: 20px;
}



