
/*COMMON*/
*{
    margin:0;
    padding:0;
    list-style: none;   
}
html,body{ 
    width:100%;
    height:100%;
    overflow: hidden;
    font : 62.5% '3Light';
}
/*1920*/
@media screen and (min-width : 1920px){
    html,body{font-size:80%;}
    .sec2_con .about td{font-size:1.8rem;}
    .sec5 td{font-size: 1.9rem;}
    .swiper-slide:nth-child(-n+3) .sec4_img img{width:42vw; position: relative; right: -2.5vw;}
    .swiper-slide:nth-child(4) .sec4_img img{width:47vw; position: relative; right: 1.5vw;}
    #mobile_img img:nth-child(1){padding:0;}
    #mobile_img img{width:17.5vw;}
    .sec4_btn button{font-size:1.4rem;}
}
/*768-1024사이tablet가로*/
@media screen and (min-width : 768px) and (max-width : 1024px) and (orientation: landscape){
    html,body{font-size:55%;}
    .sec2_title, .sec3_title{font-size: 3.5rem;}
    .about_title{visibility: hidden;}
    .title1::after{
          content: 'Pro';
          display: block;
          visibility: visible;
    }
    .title2::after{
          content: 'Edu';
          display: block;
          visibility: visible;
    }
    .title3::after{
          content: 'Lic';
          display: block;
          visibility: visible;
    }
    .sec3{background: #fcf5ef;}
    .sec3_con{text-align: center; margin-left: 15vmax;}
    .bg_box3{display: none;}
    .swiper-slide:nth-child(-n+3) .sec4_img img{width:42vw;}
    .swiper-slide:nth-child(4) .sec4_img img{width:47vw; position: relative; right: 4vw;}
    #mobile_img img:nth-child(1){padding:0;}
    #mobile_img img{width:17.5vw;}
    .sec4_btn button{font-size:1.2rem;}
    .sec4_title, .sec4_btn{margin-left: 1.8vw;}
    .sec4_title, .sec4_btn, .sec4_txt{text-align: center;}
    .sec4_txt{margin-left: 16vw; margin-top: 2.5vh;}
    .vertical_line{display: none;}
    .sec5_con{margin-left: 5vw;}
    .sec5_txt{font-size: 2.3rem;}
    .sec5_icon img{width: 3.5vw;}
    .sec5{background-position: center;}
}
/*320-500사이mobile*/
@media screen and (min-width : 320px) and (max-width : 500px){
    html,body{font-size:55%;}
    #quick{display: none;}
    .sec1_title, .sec1 hgroup{text-align:center;}
    .sec1_title{margin-right: 24vw; z-index: 2;}
    .sec1 hgroup h1{margin-right: 3.8vw;}
    .sec1 hgroup h5{
        position: absolute;
        top: -9.3vh;
        left: 15vw;
    }
    .bg_box1{display: none;}
    .bg_mobile{
        width: 82vw;
        height: 53vh;
        background: #6db5ca;
        position: absolute;
        top:26.3vh;
        left:8.5vw;
        opacity: 0.93;
    }
    .sec2_title, .about_title{display: none;}
    .sec3 .bg_box3{display: none;}
    .sec3_con{margin-left: -9.5vw;}
    .sec3_con .sec3_bottom li:nth-child(3){padding-left:3vw;}
    .vertical_line{display: none;}
    .swiper-slide:nth-child(-n+3) .sec4_img img{
        width:42vw;
        position: absolute;
        top: 39vh;
    }
    .sec4_title, .sec4_btn{margin-left: 5vw; margin-top: -13vh;}
    .sec4_btn{}
    .sec4_txt{
        margin-left: -15vw;
    }
}

a:link, a:visited {
    text-decoration: none;
    color: #000;
}
table, td{
    border: none;
    padding: 0;
}
.wrap{
    height: 100%;
}
header{
    position: fixed;
    height: 8vh;   
    width: 100%;
    z-index: 15;
    font: 1.3rem '4Regular';
}
.Menu{
    margin: 5vh 5vw;
    width: 100%;
}
.Menu li span{
    padding-left: 0.7vw;
}
.Menu .menu2{
/*    padding-left: 75vw;*/
    position: absolute;
    right: 5vw;
}
.Menu .menu2 img{
    width: 2vw;
}
.Menu li{
    position: relative;
    letter-spacing: 4;
    display: inline-block;
}
.subMenu{
    position: absolute;
    width: 10vw;
}
.subMenu li{
    display: none;
}
.menu2:hover .subMenu li{
    display: block;
    padding-top: 1vh;
}
.subMenu li a:hover{
    color: #ff7235;
}
h1{
    color: #ff7235;
    font: 6.0rem '5Medium';
    letter-spacing: 4;
}

#fullpage {
    position:relative;
    top:0px;
    z-index:9;
    width:100%;
    height:100%;
}
.box {
    width:100%;
    height:100%;
    position:relative;
    color:#000;
    background-repeat: no-repeat;
    background-size: cover;
}
.quick {
    position: fixed;
    left : 5vw;
    bottom:5vh;
    z-index: 100;
}
.quick li {
    opacity: 0.3;
    font : 1.4rem '4Regular';
    letter-spacing: 6;
    padding-top: 3vh;
    cursor: pointer;
}
.quick .on{
    opacity: 1;
}
.clearfix:after, .clearfix:before{
    content: ''; 
    display: table; 
    clear: both;
}

/*-------------HOME-------------*/
.sec1_title{
    position: relative;
    left: 12vw;
    top: 34vh;
}
.slide_txt{
    transform: translateY(8vh);
    opacity: 0;
    transition: all 2s;
}
.is_visible{ /*텍스트효과*/
    transform: translateY(0);
    opacity: 1;
}
hgroup{
    position: absolute;
    right: 10vw;
    top: 59vh;
    z-index: 3;
}
h5{
    font-size: 2.8rem;
    color: #fff;
    letter-spacing: 2;
    float: right;
    position: relative;
    left: 5vw;
}
.bg_box1{
    width: 84vmin;
    height: 13vh;
    background-color: #6db5ca;
    position: absolute;
    right: 0;
/*    left: 58vw;*/
    top:65.7vh;
}
.sec1{
    background-image: url('../img/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

/*-------------ABOUT-------------*/
.sec2_title{
    position: absolute;
    top: 34vh;
    left: 7vw;
}
.sec2_con{
    position: absolute;
    left: 45vw;
    top: 33.5vh;
    z-index: 3;
}
.sec2_con .about{
    width: 47vw;
    margin: 0 auto;
}
.sec2_con .about td{
    padding-bottom: 2vh;
}
.sec2_con .about tr:nth-child(3) td{
    padding: 10vh 0;
} 
.sec2_con .about_title{
    font: 1.8rem '5Medium';
    letter-spacing: 5;
}
.bg_box2{
    width: 63vw;
    height: 100%;
    position: absolute;
    top:0;
    right: 3vw;
    background-color: #fcf5ef;
    display: none;
}
.b_line{
    display: none;
/*    width: 7vw;*/
    height: 0.9vh;
    background-color: #6db5ca;
    position: relative;
    top:-1.2vh;
    z-index: -3;
    
}

/*-------------SKILLS-------------*/
.bg_box3{
    width: 30vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 3vw;
    background-color: #fcf5ef;
}
.sec3_title{
    position: relative;
    top: 65vh;
/*    margin: 0 7vw;*/
    z-index: 3;
    text-align: center;
}
.sec3_con{
    position: absolute;
    top: 27vh;
    left: 24.7vmax;
}
.sec3_con .sec3_top{
    margin-bottom: 12vh;
}
.sec3_con .sec3_top li, .sec3_con .sec3_bottom li{
    display: inline-block;
    text-align: center;
    font: 1.8rem '5Medium';

}
.sec3_con .sec3_top li{
    height: 19vmin;
}
.sec3_con .sec3_top li:nth-child(2){
    padding: 0 7.3vmax 0 9.3vmax;
}
.sec3_con .sec3_top li p{
    padding-bottom: 3vmin;
}
.sec3_con .sec3_top img{
    width: 8.2vmin;
}
.sec3_con .sec3_top li:nth-child(3) ul img{
    padding: 1.8vh;
}
.sec3_con .sec3_bottom img{
    width: 9.8vmin;
}
.sec3_con .sec3_bottom li{
    height: 12vh;
}
.sec3_con .sec3_bottom li:nth-child(2){
    padding: 0 8vmax;
}
.sec3_con .sec3_bottom li p{
    padding-top: 3vh;
}
.icon span{
    display: none;
}

/*-------------PORTFOLIO-------------*/
.sec4{
  background-image: url('../img/portfolio.jpg');
  font-size: 1.8rem;
}
.sec4_title, .sec4_btn{
    width: 34vmax;
}

.sec4_title{
    position: absolute;
    left: 0;
    top: 28vh;
}
.sec4_s{
    letter-spacing: 0.7;
}
.sec4_b{ /*프로젝트제목*/
    font: 2.6rem '5Medium';
    padding: 2vh 0;
}
.sec4_btn{
    position: absolute;
    left: 0;
    top: 50vh;
}
.sec4_btn button{
    border: solid 1.3px #000;
    border-radius: 7px;
    background-color: #fcf5ef;
    width: 13vmax;
    height: 8vh;
    color: #000;
    letter-spacing: 2;
}
.sec4_btn button:hover{
    border: none;
    background-color: #ff7235;
    color: #fff;
}
.sec4_btn button:nth-child(even){/*뷰페이지 버튼*/
    margin-left: 2vw;
}
.sec4_img{
    position: absolute;
    left: 45vw;
    top: 18vh;
}
#mobile_img img:nth-child(1){
    padding: 0 5vw 0 3vw;
}
.sec4_txt{
    position: absolute;
    top: 68vh;
    left: 20.5vw;
    line-height: 3.8rem;
    width: 38vmax;
}

.swiper{
    position: absolute;
    left: 5.2vw;
    z-index: 100;
}
.swiper-slide:nth-child(4) img {
    position: relative;
    right: 5vw;
}
.swiper-button-next {
  background: url(../img/next.png) no-repeat;
  background-position: center;    
}

.swiper-button-prev {
  background: url(../img/prev.png) no-repeat;
  background-position: center;    
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/*-------------CONTACT-------------*/
.sec5{
    background-image: url('../img/bg5.jpg');
    background-size: cover;
}
.sec5_con{
    position: absolute;
    bottom: 1.4vh;
    left: 24vw;
    font: 1.8rem '2ExtraLight';   
}
.sec5_icon img{
    width: 2.7vw;
}
.sec5 td{
    padding-bottom: 5vh;
    padding-left: 1.5vw;
}
.vertical_line{
    height: 26vh;
    width: none;
    border: solid 0.1px #000;
    position: absolute;
    bottom: 5vh;
    left: 23.3vw;
    opacity: 0.4;
}
.sec5_title{
    opacity: 0.9;
    font: 700 12.8rem '5Medium';
    position: absolute;
    top: 22vh;
    left: -1.2vw;
    z-index: 3;
}
.bg_box5{
    width: 88vw;
    height: 18.4vh;
    background-color: #6db5ca;
    position: relative;
    top:17vh;
    float: right;
}